# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
build/
.cache/

# Env
.env
.env.local
.env.*.local

# Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.sublime-*

# OS
.DS_Store
Thumbs.db
desktop.ini
*~

# Logs
*.log
npm-debug.log*
